
/*.image-clip-horizontal img {*/
/*    !*object-position: center center;*!*/
/*    object-fit: cover;*/
/*}*/

/*.image-clip-horizontal {*/
/*    overflow: hidden;*/
/*}*/

/* Elegante Lösung für hängende Anführungszeichen mit ::before */
.hanging-quote {
    display: block;
}

.hanging-quote::before {
    content: '"';
    margin-left: -0.35em;
}

.hanging-quote::after {
    content: '"';
}


