.image-clip img {
    object-position: center center;
    object-fit: cover;
}

.image-clip {
    overflow: hidden;
    border-radius: 0 0.375rem 0.375rem 0.175rem;
    /*border-radius: 0.375rem;*/
}

@media (max-width: 767px) {
    .image-clip {
        clip-path: none !important;
    }

    .image-clip img {
        object-position: center 10%;
    }
}

@media (min-width: 768px) {
    .image-clip {
        clip-path: url(#curve-clip) !important;
    }

    .image-clip img {
        object-position: center center;
    }

    /* Bild-Container größer machen für Auslauf */
    .image-container-extended {
        min-height: calc(100vh + 1vh) !important;
    }
}
