.image-clip img {
    object-position: center center;
    object-fit: cover;
}

.image-clip {
    overflow: hidden;
}

@media (max-width: 767px) {
    .image-clip {
        clip-path: none !important;
    }

    .image-clip img {
        object-position: center 10%;
    }
}

@media (min-width: 768px) {
    .image-clip {
        /*clip-path: ellipse(80% 100% at 15% 55%) !important;*/
        clip-path: url(#curve-clip) !important;
    }

    .image-clip img {
        object-position: center center;
    }

    /* Bild-Container größer machen für Auslauf */
    .image-container-extended {
        /*min-height: calc(100vh + 5vh) !important;*/
        min-height: calc(100vh + 1vh) !important;
    }
}
